@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.contain1, .contain3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    z-index: 1000;
    width: 100%;
    gap: 150px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

h1, h2, p {
    font-family: "Playfair Display", serif;

}

.active {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

hr {
    width: 95%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.contain2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    border: red solid 1px;
}

.column1 video {
    width: 550px;
    height: 700px;
    object-fit: cover;
    border-radius: 15px;
}


.column2, .column1 {
    width: 650px;
    height: 100%;
    border: yellow solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column2 p {
    width: 550px;
    font-size: 20px;
}

.child1 {
    background-color: rgb(215, 215, 215);
    width: 520px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
.child1 h2 {
    color: rgb(255, 157, 0);
}

.child2 {
    border: red solid 1px;
    width: 550px;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.child2 p {
    width: 100px;
}

.child2 img {
    width: 50px;
    height: 50px;
}





