@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.contain1, .contain3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    z-index: 1000;
    width: 100%;
    gap: 150px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

h1, h2, p {
    font-family: "Playfair Display", serif;
}

.active {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

hr {
    width: 95%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.contain2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    gap: 40px;
}

.productrow1, .productrow2, .productrow3, .productrow4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: rgb(174, 174, 174) solid 0.1px;
    gap: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: tranform 0.3s ease-in, box-shadow 0.3s ease;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover {
    transform: translateY(-0px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img {
    width: 200px;
    height: 300px;
}
.card1 button, .card2 button, .card3 button, .card4 button, .card5 button, .card6 button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 138, 138);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.card1 button a, .card2 button a, .card3 button a, .card4 button a, .card5 button a, .card6 button a {
    text-decoration: none;
    color: white;
}
.card1 button a:hover, .card2 button a:hover, .card3 button a:hover, .card4 button a:hover, .card5 button a:hover, .card6 button a:hover {
    color: black;
}
.card1 button:hover, .card2 button:hover, .card3 button:hover, .card4 button:hover, .card5 button:hover, .card6 button:hover {
    color: black;
}



